@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.navbar .navbar-brand , #MYZShop {
    font-family: geo;
}

.navbar {
    font-weight: 500;
}

.nav-link:hover {
    color: #dc3545;
}

.card-img-top {
    transition: filter 0.3s ease;
    filter: grayscale(80%);
}

.card .card-img-top:hover {
    filter: grayscale(0%);
}

.card , img {
    cursor: pointer;
}

.form-control {
    border: 1px solid #555;
}


.form-control:focus,
.navbar-collapse:focus, .navbar-collapse:active,
.btn:focus, .btn:focus-visible, .btn:active {
    border: none;
    box-shadow: none !important;
    outline: none;
}

.border-custom {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
